html, body {
  width : 100vw;
  height : 100vh;
  margin : 0;
  font-family : "Verdana";
  font-size : 1rem;
}

input, button {
  font-family : "Verdana";
  font-size : 1rem;
}

body {
  display : flex;
  flex-direction : column;
  background-color : rgb(192, 192, 192);
  justify-content : center;
  align-items : center;
}


#head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#footer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

table {
  border-collapse: separate;
}

td {
	width : 30px;
	height : 30px;
  max-width: 30px;
  max-height: 30px;
}

a {
  margin-right: 5px;
}

#drop-area {
  border: 5px dashed rgb(127, 127, 127);
  border-radius: 20px;
  padding: 20px;
  color: black;
  cursor: grab;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 1;
}

#drop-area.highlight {
  border-color: black;
  cursor: grab;
  color : white;
  background-color: rgb(127, 127, 127);
}

p {
  margin : 0;
}

.button {
  padding: 10px;
  background: rgb(127, 127, 127);
  color: white;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid black;
}

.button:hover {
  color: rgb(127, 127, 127);
  background : white;
}

input[type="file"] {
  display: none;
}


#popup {
  display: none;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  position: absolute;
  top : 0;
  left : 0;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

#popup-message {
  flex-grow: 0;
  background-color: rgb(192, 192, 192);
  border-radius: 5px;
  border: 5px solid black;
  padding: 10px;
  max-width: 75%;
}

.popup-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#popup table {
  width : 100%;
}

#popup td {
  width : 33%;
}

.center {
  text-align: center;
}